@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "_Layout.cshtml";
}

<div class="onepcssgrid-1200">
    <div class="onerow">
        <div class="col12">
            <section id="cookies">
                <h3>Cookie Policy</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nec erat metus. Nunc elit velit, commodo et finibus non, scelerisque at neque. In tempor dui et consequat dapibus. In tincidunt arcu sed nibh egestas scelerisque. Aliquam non rutrum ex, ac congue quam. Sed quis elit eros. Ut sollicitudin elit sed ultrices faucibus. Phasellus libero turpis, consectetur sit amet pharetra quis, semper sit amet dolor. Donec vel elit laoreet, maximus orci quis, tincidunt tellus. Mauris a varius velit, eu tristique urna. </p>
                <h3>Google Analytics configuration</h3>
                <input id="gaenable" type="radio" class="radio" name="option"><label>Enable user tracking</label>
                <input id="gadisable" type="radio" class="radio" name="option"><label>Disable user tracking</label>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nec erat metus. Nunc elit velit, commodo et finibus non, scelerisque at neque. In tempor dui et consequat dapibus. In tincidunt arcu sed nibh egestas scelerisque. Aliquam non rutrum ex, ac congue quam. Sed quis elit eros. Ut sollicitudin elit sed ultrices faucibus. Phasellus libero turpis, consectetur sit amet pharetra quis, semper sit amet dolor. Donec vel elit laoreet, maximus orci quis, tincidunt tellus. Mauris a varius velit, eu tristique urna. </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nec erat metus. Nunc elit velit, commodo et finibus non, scelerisque at neque. In tempor dui et consequat dapibus. In tincidunt arcu sed nibh egestas scelerisque. Aliquam non rutrum ex, ac congue quam. Sed quis elit eros. Ut sollicitudin elit sed ultrices faucibus. Phasellus libero turpis, consectetur sit amet pharetra quis, semper sit amet dolor. Donec vel elit laoreet, maximus orci quis, tincidunt tellus. Mauris a varius velit, eu tristique urna. </p>
            </section>
        </div>
    </div> <!-- Row Closing -->
</div> <!-- 1200 Closing -->