@using System.Web.Mvc.Html
@using MvcUmbraco.Controllers.SurfaceControllers
@using MvcUmbraco.Models;
@using Umbraco.Web
@model ProfileViewModel
@{
    Html.EnableClientValidation(true);
    Html.EnableUnobtrusiveJavaScript(true);
}
<div class="onepcssgrid-1200">
    <div class="onerow">
        <div class="col8">
            <section id="sectionPadding">

                <h3>Your Profile</h3>
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, "Name:", new { @class = "control-label" })
                    @Model.Name
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.EmailAddress, "Email:", new { @class = "control-label" })
                    @Model.EmailAddress
                </div>
             </section>
        </div>
    </div>
</div>